.socials {
    padding: 0;
    list-style: none;
}

.social {
    display: inline-block;
    margin: 0 2px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $text-color;
        font-size: 20px;
        width: 50px;
        height: 25px;
        background: #55acee;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -15px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 15.1px solid #55acee;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 15.1px solid #55acee;
        }

        &--blue {
            background-color: #0976b4;

            &:after {
                border-top-color: #0976b4;
            }

            &:before {
                border-bottom-color: #0976b4;
            }
        }

        &--pink {
            background-color: #ea4c89;

            &:after {
                border-top-color: #ea4c89;
            }

            &:before {
                border-bottom-color: #ea4c89;
            }
        }

        &--sky {
            background-color: #1769ff;

            &:after {
                border-top-color: #1769ff;
            }

            &:before {
                border-bottom-color: #1769ff;
            }
        }

        @include hfa {
            color: $title-color;
            transform: rotate(360deg);
        }
    }
}