@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'socials';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    @include font($text-size, $text-color, 400, $text-ff, 1.6);
}

.container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 40px 0;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(60, 73, 85, 0.6)), url(../img/computer.jpg);
    background-color: rgba(60, 73, 85, 0.3);
    background-position: center;
    background-size: cover;
    text-align: center;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include font($h1-size, $text-color, 700, $title-ff, 1.2);
        text-transform: uppercase;
        margin: 10px;
        margin-top: 150px;
    }

    &__text {
        @include font($h2-size, $text-color, 400, $title-ff, 1.2);
        text-transform: uppercase;
        margin: 10px;
        margin-bottom: 25px;

        p {
            margin: 0;
        }
    }
}

.menu {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    list-style-type: none;
    outline: none;

    &__item {
        display: flex;
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            height: 20px;
            right: 0;
            top: 3px;
            transform: rotate(20deg);
            border-right: 1px solid rgba(255, 255, 255, .3);
        }

        &:last-child:after {
            display: none;
        }

        &--portf {
            margin-right: 10px;
        }

        &--portf:after {
            display: none;
        }
    }

    &__link {
        padding: 5px 40px;
        text-decoration: none;
        @include font($text-size, $text-color, 700, $text-ff, 1);

        @include hfa {
            color: $brand-color;
        }

        &--portf {
            padding: 10px 20px;
            line-height: 1.2;
            color: $title-color;
            background-color: #eaeaea;
            border-radius: 5px;

            @include hfa {
                background-color: $brand-color;
                color: $text-color;
            }
        }
    }

    &--portf {
        justify-content: center;
    }
}

.btn {
    display: inline-block;
    @include font($text-size, $brand-color, 700, $text-ff, 1.2);
    border: 2px solid $brand-color;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    text-transform: uppercase;
    margin: 40px 0;
    cursor: pointer;
    outline: none;

    @include hfa {
        color: $text-color;
        background-color: $brand-color;
    }

    &--webdes {
        border: 2px solid $title-color;
        color: $title-color;

        @include hfa {
            color: $text-color;
            border-color: $text-color;
            background-color: transparent;
        }
    }

    &--contact {
        background-color: $brand-color;
        color: $text-color;
        width: 100%;
        margin: 0;

        @include hfa {
            background-color: $text-color;
            color: $brand-color;
        }
    }
}

.grid {
    margin-top: 30px;
    height: 830px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "grid__item1 grid__item1 grid__item2 grid__item2 grid__item2""grid__item1 grid__item1 grid__item2 grid__item2 grid__item2""grid__item3 grid__item3 grid__item2 grid__item2 grid__item2""grid__item3 grid__item3 grid__item4 grid__item4 grid__item4""grid__item3 grid__item3 grid__item4 grid__item4 grid__item4";
    gap: 40px;
    padding: 20px;

    &__item {
        background-color: rgba(60, 73, 85, 0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        padding: 30px;

        &--1 {
            grid-area: grid__item1;
            background: url(../img/img1.jpg);
            background-position: center;
            background-size: cover;

            @include hfa {
                background: linear-gradient(rgba(72, 191, 114, .8)), url(../img/img1.jpg);
                background-position: center;
                background-size: cover;
            }
        }

        &--2 {
            grid-area: grid__item2;
            background: url(../img/img2.jpg);
            background-position: center;
            background-size: cover;

            @include hfa {
                background: linear-gradient(rgba(72, 191, 114, .8)), url(../img/img2.jpg);
                background-position: center;
                background-size: cover;
            }
        }

        &--3 {
            grid-area: grid__item3;
            background: url(../img/img3.jpg);
            background-position: center;
            background-size: cover;

            @include hfa {
                background: linear-gradient(rgba(72, 191, 114, .8)), url(../img/img3.jpg);
                background-position: center;
                background-size: cover;
            }
        }

        &--4 {
            grid-area: grid__item4;
            background: url(../img/img4.jpg);
            background-position: center;
            background-size: cover;

            @include hfa {
                background: linear-gradient(rgba(72, 191, 114, .8)), url(../img/img4.jpg);
                background-position: center;
                background-size: cover;
            }
        }

        @include hfa {
            cursor: pointer;
        }

        &:hover .grid__title,
        &:focus .grid__title,
        &:active .grid__title {
            opacity: 1;
            transition: all .4s ease-in;
        }

        &:hover .grid__text,
        &:focus .grid__text,
        &:active .grid__text {
            opacity: 1;
            transition: all .4s ease-in;
        }
    }

    &__title {
        @include font($h2-size, $text-color, 700, $text-ff, 1.2);
        max-height: 108px;
        overflow: hidden;
        margin: 0;
        opacity: 0;
    }

    &__text {
        @include font($text-size, $text-color, 400, $text-ff, 1.2);
        opacity: 0;
        max-height: 60px;
        overflow: hidden;

        p {
            margin: 0;
        }
    }

}

.webdes {
    background: linear-gradient(rgba(60, 73, 85, 0.6)), url(../img/men-computer.jpg);
    background-color: rgba(60, 73, 85, 0.6);
    background-position: center;
    background-size: cover;

    &>.container {
        display: flex;
        justify-content: flex-end;
    }

    &__block {
        width: 45%;
        text-align-last: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        @include font($h2-size, $text-color, 700, $text-ff, 1.2);
        margin: 0;
    }

    &__subtitle {
        @include font($h3-size, $text-color, 400, $text-ff, 1.2);
        margin: 0;
    }

    &__text {
        line-height: 1.2;
    }
}

.form {
    padding: 0 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__data {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include font($h3-size, $brand-color, 700, $title-ff, 1.2);
        margin: 0;
        margin-bottom: 50px;
    }

    &__item {
        flex-basis: 48%;
        position: relative;

        &--t {
            width: 100%;
        }

        &>.form__iconwrap {
            position: absolute;
            width: 50px;
            height: 50px;
            line-height: 50px;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__input {
        width: 100%;
        padding: 16px;
        border: 2px solid $title-color;
        border-left: 50px solid $title-color;
        border-radius: 5px;
        margin-bottom: 30px;
        outline: none;
        transition: all .4s ease-in;

        &--t {
            resize: none;
        }

        @include hfa {
            border: 2px solid $brand-color;
            border-radius: 5px;
        }

        &:hover+.form__iconwrap,
        &:focus+.form__iconwrap,
        &:active+.form__iconwrap {
            display: none;
        }

    }
}

// placeholder

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #a6a5a5;
    font-size: $text-size;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #a6a5a5;
    font-size: $text-size;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #a6a5a5;
    font-size: $text-size;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #a6a5a5;
    font-size: $text-size;
}


.footer {
    background: $title-color;

    &>.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        @include font($text-size, $text-color, 400, $text-ff, 1.2);
    }

    &__link {
        @include font($text-size, $text-color, 700, $text-ff, 1.2);
        text-decoration: none;

        @include hfa {
            color: $brand-color;
        }
    }
}